.App {
  height: 90vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button {
  width: 40px;
  height: 40px;
  margin: 0 2px;
  font-size: 1.5em;
}

.Reset {
  width: 84px;
  display: block;
  margin-top: 5px;
  color: red;
}
