.App {
  height: 90vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button {
  color: #fff;
  background-color: coral;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 1.5em;
}

.Reset {
  width: 90px;
  display: block;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px gray;
}
